*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-parent
{
    display: flex;
    justify-content: space-between;
    background-color: black;
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
}
.nav-parent .title p
{
    color: white;
    /* background-color: white; */
    padding: 10px 10px;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 35px;
    text-transform: uppercase;
    font-family: "Nova Square", sans-serif;
}
.nav-parent .title p a
{
    text-decoration: none;
    color: white;
}
.nav-parent nav ul
{
    display: flex;
    padding: 25px 20px;
    margin-top: 15px;
}
.nav-parent nav ul li
{
    color: white;
    /* background-color: white; */
    /* padding: 10px; */
    list-style: none;
    margin-right: 20px;
    font-family: "Quicksand", sans-serif;
    /* font-family: "Ubuntu", sans-serif; */
}
.nav-parent nav ul li a
{
    color: rgb(255, 255, 255);
    padding: 15px 15px;
    /* background-color: white; */
    text-decoration: none;
    font-size: 17px;
}
.nav-parent nav ul li a:hover
{
    background-color: white;
    color: black;
    border-radius: 10px;
    border: none;
}
#img1:hover,#img2:hover
{
    background-color: black;
}
.nav-parent nav li a img
{
    margin-top: -10px;
    /* background-color: black; */
}
.ourstory
{
    height: 100vh;
    margin-top: 100px;
    width: 100%;
}
.ourstory iframe
{
    width: 100%;
    height: 100vh;
}
.hlines
{
    height: 70vh;
    width: 100%;
    padding-top: 50px;
    text-align: center;
    background-color: black;
}
.hlines span p
{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 50px;
    text-transform: uppercase;
    color: rgb(105, 252, 105);
    font-family: "JetBrains Mono", monospace;
}
.hlines p
{
    padding-top: 20px;
    font-size: 25px;
    color: white;
    font-family: "Ubuntu", sans-serif;
}
.footer-parent
{
    display: flex;
    justify-content: space-around;
    /* margin-top: 20px; */
    background-color: black;
    height: 50vh;
    width: 100%;
}
.foot1
{
    margin-top: 50px;
    color: white;
    font-family: "Nova Square", sans-serif;
    text-transform: uppercase;
}
.foot2
{
    display: flex;
    justify-content: space-between;
    /* color: white; */
    margin-right: 90px;
}
.foot2 .foot21
{
    padding-left: 160px;
    margin-top: 50px;
    color: white;
    font-size: 19px;
    font-family: "Ubuntu", sans-serif;
}
.foot21 p
{
    margin-left: 10px;
}
.foot21 a
{
    display: block;
    padding: 10px 10px 10px 10px;
    margin-top: 10px;
    text-decoration: none;
    border-radius: 10px;
    color: gray;
}
.foot21 a:hover
{
    /* background-color: white; */
    color: green;
}
.rights
{
    background-color: black;
    color: white;
    text-align: center;
    height: 50px;
    width: 100%;
}